<a id="button"></a>
<div class="content body1">
    <%= render partial: 'navbar'%>
        <div class="container-fluid">
          <div class="row top1 ">
              <div class="col-2">
                  <%= render partial: 'sidenav'%>
              </div>

              <div class="col-5">
                <%= render partial: 'post'%>
              </div>
              
              <div class="col-3">
                <div class="sticky">
                  <%= render partial: 'request'%>
                
                  <%= render partial: 'friendslist'%>

                  <%= render partial: 'addfriend'%>
                </div>              
              </div>
          </div>

</div>
  <%= render partial: 'footer'%>




<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">


var btn = $('#button');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  document.documentElement.scrollTop = 0;
  return false;
});
</script>
